# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# add by stephen
*.d
*.log
*.depend
*.layout
cscope.*
[Bb]in/
[Oo]bj/
build/
